.main{
    width: 100%;
    height: 100%;
    background-color: #c5c5f3;
    
    /* text-align: center; */
}
.card1{
    /* background-size: cover; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card1-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.card1-text h1{
    font-size: 3rem;
    font-weight: 800;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card1-text p{
    font-size: 1.3rem;
    color: #fff;
    padding: 0.5rem 0 2rem 0;
}
.card1-text .btn{
    background: #c5c5f3;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
}
.products{
    text-align: center;
    color: #fff;
    margin: 4rem 6rem;
}
.products h1{
    font-size: 3rem;
}
.first-prod{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.prod-des{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}
.prod-des h2{
    padding-bottom: 1rem;
}
.prod-img{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.prod-img img{
    width: 300px;
    height: 450px;
    padding-bottom: 10px;
    object-fit: cover;
    padding-right: 10px;
}

.prod-img img:nth-child(2){
    position: absolute;
    top: -15%;
    right: 0;
    padding-left: 20px;
}
.second-prod{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
    padding-top: 20px;
}
.third-prod{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
    padding-top: 20px;
}

